<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Человек</title>
</head>
<body>
<p th:utext="${person.getName()} + ', ' + ${person.getAge()}">VALUE</p>

<div th:if="${books.isEmpty()}">
    <p>Человек пока не взял ни одной книги</p>
    <hr/>
</div>

<div th:if="${!books.isEmpty()}">
    <hr/>
    <b>Книги: </b>
    <br/>
    <table th:each="book : ${books}">

        <tr th:style="${book.getLate()} ? 'color:red' : '_'">

            <td th:text="${book.getTitle()}"></td>
            <td th:text="${book.getAuthor()}"></td>
            <td th:text="${book.getYearProduction()}"></td>
        </tr>
    </table>
    <hr/>
</div>

<form th:method="GET" th:action="@{/people/{id}/edit(id=${person.getPersonId()})}">
    <input type="submit" value="Редактировать!"/>
</form>

<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getPersonId()})}">
    <input type="submit" value="Удалить!"/>
</form>

</body>
</html>